@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root {
    --warna-putih: #fff;
    --warna-hitam: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    margin: 0;
    top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    text-align: center;
    color: var(--warna-2);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/img/background-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: var(--warna-2);
    font-weight: 700;
    font-size: 3rem;
}

h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

p {
    line-height: 1.5;
}

a {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--warna-putih);
    color: var(--warna-hitam);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

.blank,
.other {
    width: 100%;
    min-height: 20vh;
    background-color: var(--warna-1);
}

.row-kedua-bagian-pertama {
    padding: 40px;
}

.row-kedua-bagian-kedua {
    padding: 20px 80px 80px 80px;
}

.pertama {
    color: var(--warna-putih);
    background-image: url(./assets/img/background-1.jpg);
    background-attachment: fixed;
    height: auto;
}

.kedua {
    background-image: url(./assets/img/background-2.jpg);
    background-attachment: fixed;
    height: auto;
}

.ketiga {
    background-image: url(./assets/img/background-3.jpg);
    background-attachment: fixed;
    height: auto;
}

.card h5 {
    padding-top: 20px;
}

.card h6 {
    padding: 5px;
}

.card>a {
    padding: 20px;
}

.item {
    display: flex;
    max-width: 800px;
    height: auto;
    background-color: white;
    flex-direction: row;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.img {
    width: 100%;
    height: 200px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;
    ;
}

.row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.foto-profil {
    width: 50%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.kelompok {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    color: var(--warna-putih);
    font-weight: 300;
}

.kelompok h1,
.kelompok h2,
.kelompok h3,
.kelompok h4,
.kelompok h5,
.kelompok h6 {
    color: var(--warna-putih);
}

.kelompok .font-berat-ringan {
    font-weight: 500;
}

.kelompok h5 {
    line-height: 22px;
    font-size: 18px;
}

.kelompok .subjudul {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}

.kelompok ul li a {
    color: #8d97ad;
    padding-right: 15px;
    transition: 0.1s ease-in;
}

.kelompok ul li a:hover {
    transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
}

.post {
    height: auto;
    width: 600px;
}

.footer {
    padding: 20px;
    text-align: center;
}