/* Import Font dari Google API */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

/* Global */
:root {
    --warna-putih: #fff;
    --warna-hitam: #000;
    --warna-emas: #dcb818;
}

/* Tag HTML */
html {
    scroll-behavior: smooth;
}

/* Tag Body */
body {
    font-family: 'Red Hat Text', sans-serif;
    margin: 0;
    top: 0;
}

/* Tag Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Tag Heading 1 - Spesifik */
h1 {
    color: var(--warna-2);
    font-weight: 700;
    font-size: 3rem;
}

/* Tag Heading 3 - Spesifik */
h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

/* Tag Paragraf */
p {
    line-height: 1.5;
}

/* Tag Span */
span {
    color: red;
}

/* Tag Span2 */
span2 {
    color: var(--warna-emas);
}

/* Tag Anchor (Link) */
a {
    width: auto;
    display: inline-block;
    padding: 16px 32px;
    background-color: var(--warna-putih);
    color: var(--warna-hitam);
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #555555;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

.kolom {
    padding: 10px;
    display: flex;
}

.logo {
    width: 200px;
    height: auto;
    background-color: var(--warna-putih);
    border-radius: 0.3em;
    margin-bottom: 50px;
}

.logo-redhat {
    width: 80px;
    height: auto;
}

.logo-il {
    width: 70px;
    height: auto;
}

/* Tag Anchor (Link) pada Section Tengah */
.kolom-tengah {
    width: 80px;
    display: inline-block;
    padding: 12px 20px;
    font-size: 10px;
}

/* Efek Hover untuk Tag Anchor */
a:hover {
    background-color: var(--warna-hitam);
    color: var(--warna-putih);
}

/* Aturan untuk class none */
a.none {
    padding: 0;
    background-color: transparent;
    color: var(--warna-emas);
    border: none;
    text-transform: none;
    font-weight: normal;
    font-size: inherit;
    text-align: inherit;
    transition: none;
    cursor: default;
}

/* Efek Hover untuk class none */
a.none:hover {
    background-color: transparent;
    color: var(--warna-emas);
    text-decoration: underline;
}

/* Container untuk Ketiga Section */
.container {
    text-align: center;
    color: var(--warna-2);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background/background-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Pembatas Ketiga Section */
.blank,
.other {
    width: 100%;
    min-height: 18vh;
    background-color: var(--warna-1);
}

/* Untuk Section Tengah */
.row-kedua-bagian-pertama {
    padding: 40px;
}

.row-kedua-bagian-kedua {
    padding: 20px 80px 80px 80px;
}

/* Gambar Background Ketiga Section */
.pertama {
    color: var(--warna-putih);
    background-image: url(../img/background/background-1.jpg);
    background-attachment: fixed;
    height: auto;
}

.kedua {
    background-image: url(../img/background/background-2.jpg);
    background-attachment: fixed;
    height: 700px;
}

.ketiga {
    background-image: url(../img/background/background-3.jpg);
    background-attachment: fixed;
    height: 700px;
}

/* Card Untuk Anggota di Section Tengah */
.card h5 {
    padding-top: 20px;
}

.card h6 {
    padding: 5px;
}

.card>a {
    padding: 20px;
}

/* Item di Section Tengah */
.item {
    display: flex;
    max-width: 800px;
    height: auto;
    background-color: white;
    flex-direction: row;
    align-items: center;
    border-radius: .5em;
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

/* Gambar di dalam Item */
.img {
    width: 100%;
    height: 200px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;
}

/* Row untuk Penataan Item */
.row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

/* Untuk Foto Profil Pada Section Tengah */
.foto-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 40px;
}

/* Untuk Class Kelompok Pada Section Tengah */
.kelompok {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    color: var(--warna-putih);
    font-weight: 300;
}

.kelompok h1,
.kelompok h2,
.kelompok h3,
.kelompok h4,
.kelompok h5,
.kelompok h6 {
    color: var(--warna-putih);
}

.kelompok .font-berat-ringan {
    font-weight: 500;
}

.kelompok h5 {
    line-height: 22px;
    font-size: 18px;
}

.kelompok .subjudul {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}

.kelompok ul li a {
    color: #8d97ad;
    padding-right: 15px;
    transition: 0.1s ease-in;
}

.kelompok ul li a:hover {
    transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
}

/* Untuk Gambar Post pada Section Bawah */
.post {
    height: auto;
    width: 500px;
    box-shadow: 0 4px 20px var(--warna-putih);
}

/* Untuk Kolom Kiri & Kanan */
.kolom-kiri,
.kolom-kanan {
    flex: 1;
    padding: 20px;
}

/* Untuk Kolom Kiri */
.kolom-kiri {
    text-align: center;
}

/* Untuk Kolom Kanan */
.kolom-kanan {
    padding: 5%;
    display: flex;
    text-align: left;
    color: var(--warna-putih);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* Paragraf Untuk Kolom Kanan */
.kolom-kanan p {
    text-align: justify;
    width: 700px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
}